USE [master]
GO
/****** Object:  Database [jnpf_sundial]    Script Date: 2026/6/20 23:17:04 ******/
CREATE DATABASE [jnpf_sundial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'jnpf_sundial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\jnpf_sundial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'jnpf_sundial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\jnpf_sundial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jnpf_sundial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jnpf_sundial]
GO
/****** Object:  Table [dbo].[JOBCLUSTER]    Script Date: 2026/6/20 23:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBCLUSTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CLUSTERID] [nvarchar](64) NOT NULL,
	[DESCRIPTION] [nvarchar](128) NULL,
	[STATUS] [bit] NOT NULL,
	[UPDATEDTIME] [datetime] NULL,
 CONSTRAINT [PK_JOBCLUSTER_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBDETAILS]    Script Date: 2026/6/20 23:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBDETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JOBID] [nvarchar](64) NOT NULL,
	[GROUPNAME] [nvarchar](128) NULL,
	[JOBTYPE] [nvarchar](128) NULL,
	[ASSEMBLYNAME] [nvarchar](128) NULL,
	[DESCRIPTION] [nvarchar](128) NULL,
	[CONCURRENT] [bit] NOT NULL,
	[INCLUDEANNOTATIONS] [bit] NOT NULL,
	[PROPERTIES] [nvarchar](max) NULL,
	[UPDATEDTIME] [datetime] NULL,
	[CREATETYPE] [int] NOT NULL,
	[SCRIPTCODE] [nvarchar](max) NULL,
	[TENANTID] [nvarchar](50) NULL,
 CONSTRAINT [PK_JOBDETAILS_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBTRIGGERS]    Script Date: 2026/6/20 23:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBTRIGGERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRIGGERID] [nvarchar](64) NOT NULL,
	[JOBID] [nvarchar](64) NOT NULL,
	[TRIGGERTYPE] [nvarchar](128) NULL,
	[ASSEMBLYNAME] [nvarchar](128) NULL,
	[ARGS] [nvarchar](128) NULL,
	[DESCRIPTION] [nvarchar](128) NULL,
	[STATUS] [bit] NOT NULL,
	[STARTTIME] [datetime] NULL,
	[ENDTIME] [datetime] NULL,
	[LASTRUNTIME] [datetime] NULL,
	[NEXTRUNTIME] [datetime] NULL,
	[NUMBEROFRUNS] [int] NOT NULL,
	[MAXNUMBEROFRUNS] [int] NOT NULL,
	[NUMBEROFERRORS] [int] NOT NULL,
	[MAXNUMBEROFERRORS] [int] NOT NULL,
	[NUMRETRIES] [int] NOT NULL,
	[RETRYTIMEOUT] [int] NOT NULL,
	[STARTNOW] [bit] NOT NULL,
	[RUNONSTART] [bit] NOT NULL,
	[RESETONLYONCE] [bit] NOT NULL,
	[UPDATEDTIME] [datetime] NULL,
 CONSTRAINT [PK_JOBTRIGGERS_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JOBDETAILS] ON 

INSERT [dbo].[JOBDETAILS] ([ID], [JOBID], [GROUPNAME], [JOBTYPE], [ASSEMBLYNAME], [DESCRIPTION], [CONCURRENT], [INCLUDEANNOTATIONS], [PROPERTIES], [UPDATEDTIME], [CREATETYPE], [SCRIPTCODE], [TENANTID]) VALUES (1, N'job_builtIn_ExecutionQueue', N'Integrate', N'JNPF.InteAssistant.Engine.ExecutionQueue', N'JNPF.InteAssistant.Engine', N'集成助手-执行队列', 0, 0, N'{}', CAST(N'2026-06-20T22:50:35.940' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[JOBDETAILS] ([ID], [JOBID], [GROUPNAME], [JOBTYPE], [ASSEMBLYNAME], [DESCRIPTION], [CONCURRENT], [INCLUDEANNOTATIONS], [PROPERTIES], [UPDATEDTIME], [CREATETYPE], [SCRIPTCODE], [TENANTID]) VALUES (2, N'job_builtIn_ProgramStartup', N'Integrate', N'JNPF.InteAssistant.Engine.InteAssistantProgramStartupJob', N'JNPF.InteAssistant.Engine', N'集成助手-程序启动时', 0, 0, N'{}', CAST(N'2026-06-20T22:50:36.030' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[JOBDETAILS] ([ID], [JOBID], [GROUPNAME], [JOBTYPE], [ASSEMBLYNAME], [DESCRIPTION], [CONCURRENT], [INCLUDEANNOTATIONS], [PROPERTIES], [UPDATEDTIME], [CREATETYPE], [SCRIPTCODE], [TENANTID]) VALUES (3, N'job_builtIn_IntegrateTiming', N'Integrate', N'JNPF.InteAssistant.Engine.IntegrateTiming', N'JNPF.InteAssistant.Engine', N'集成助手-定时触发', 1, 0, N'{}', CAST(N'2026-06-20T22:50:35.947' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[JOBDETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[JOBTRIGGERS] ON 

INSERT [dbo].[JOBTRIGGERS] ([ID], [TRIGGERID], [JOBID], [TRIGGERTYPE], [ASSEMBLYNAME], [ARGS], [DESCRIPTION], [STATUS], [STARTTIME], [ENDTIME], [LASTRUNTIME], [NEXTRUNTIME], [NUMBEROFRUNS], [MAXNUMBEROFRUNS], [NUMBEROFERRORS], [MAXNUMBEROFERRORS], [NUMRETRIES], [RETRYTIMEOUT], [STARTNOW], [RUNONSTART], [RESETONLYONCE], [UPDATEDTIME]) VALUES (2, N'trigger_onlineUser', N'job_onlineUser', N'JNPF.Schedule.PeriodTrigger', N'JNPF', N'[1000]', N'清理在线用户', 1, NULL, NULL, CAST(N'2026-06-20T22:50:34.947' AS DateTime), NULL, 1, 1, 104, 0, 0, 1000, 1, 1, 1, CAST(N'2026-06-20T22:50:36.033' AS DateTime))
INSERT [dbo].[JOBTRIGGERS] ([ID], [TRIGGERID], [JOBID], [TRIGGERTYPE], [ASSEMBLYNAME], [ARGS], [DESCRIPTION], [STATUS], [STARTTIME], [ENDTIME], [LASTRUNTIME], [NEXTRUNTIME], [NUMBEROFRUNS], [MAXNUMBEROFRUNS], [NUMBEROFERRORS], [MAXNUMBEROFERRORS], [NUMRETRIES], [RETRYTIMEOUT], [STARTNOW], [RUNONSTART], [RESETONLYONCE], [UPDATEDTIME]) VALUES (3, N'trigger_schedule', N'job_schedule', N'JNPF.Schedule.PeriodTrigger', N'JNPF', N'[1000]', N'程序启动日程推送', 1, NULL, NULL, CAST(N'2026-06-20T22:50:34.960' AS DateTime), NULL, 1, 1, 3, 0, 0, 1000, 1, 1, 1, CAST(N'2026-06-20T22:50:36.053' AS DateTime))
SET IDENTITY_INSERT [dbo].[JOBTRIGGERS] OFF
GO
USE [master]
GO
