USE [master]
GO
/****** Object:  Database [ZXAF_V1_DevTest1]    Script Date: 2026/6/8 23:13:42 ******/
CREATE DATABASE [ZXAF_V1_DevTest1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZXAF_V1_DevTest1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ZXAF_V1_DevTest1.ndf' , SIZE = 477440KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ZXAF_V1_DevTest1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ZXAF_V1_DevTest1_log.ldf' , SIZE = 502528KB , MAXSIZE = 2048GB , FILEGROWTH = 10240KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZXAF_V1_DevTest1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZXAF_V1_DevTest1]
GO
/****** Object:  Table [dbo].[base_advanced_query_scheme]    Script Date: 2026/6/8 23:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[base_advanced_query_scheme](
	[f_id] [nvarchar](50) NOT NULL,
	[f_full_name] [nvarchar](200) NULL,
	[f_match_logic] [nvarchar](20) NULL,
	[f_condition_json] [nvarchar](max) NULL,
	[f_module_id] [nvarchar](50) NULL,
	[f_creator_time] [datetime] NULL,
	[f_creator_user_id] [nvarchar](50) NULL,
	[f_last_modify_time] [datetime] NULL,
	[f_last_modify_user_id] [nvarchar](50) NULL,
	[f_delete_time] [datetime] NULL,
	[f_delete_user_id] [nvarchar](50) NULL,
	[f_delete_mark] [int] NULL,
	[f_sort_code] [bigint] NULL,
	[f_tenant_id] [nvarchar](50) NULL,
	[f_inte_assistant] [int] NULL,
	[f_zx_system_id] [nvarchar](50) NULL,
	[f_flow_task_id] [nvarchar](50) NULL,
	[f_flow_id] [nvarchar](50) NULL,
 CONSTRAINT [PK__base_adv__2911CBED97CE517E] PRIMARY KEY CLUSTERED 
(
	[f_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
