USE [master]
GO
/****** Object:  Database [jnpf_sundial]    Script Date: 2026/5/22 9:50:55 ******/
CREATE DATABASE [jnpf_sundial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'jnpf_sundial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\jnpf_sundial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'jnpf_sundial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\jnpf_sundial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jnpf_sundial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jnpf_sundial]
GO
/****** Object:  Table [dbo].[JOBCLUSTER]    Script Date: 2026/5/22 9:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBCLUSTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CLUSTERID] [nvarchar](64) NOT NULL,
	[DESCRIPTION] [nvarchar](128) NULL,
	[STATUS] [bit] NOT NULL,
	[UPDATEDTIME] [datetime] NULL,
 CONSTRAINT [PK_JOBCLUSTER_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBDETAILS]    Script Date: 2026/5/22 9:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBDETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JOBID] [nvarchar](64) NOT NULL,
	[GROUPNAME] [nvarchar](128) NULL,
	[JOBTYPE] [nvarchar](128) NULL,
	[ASSEMBLYNAME] [nvarchar](128) NULL,
	[DESCRIPTION] [nvarchar](128) NULL,
	[CONCURRENT] [bit] NOT NULL,
	[INCLUDEANNOTATIONS] [bit] NOT NULL,
	[PROPERTIES] [nvarchar](max) NULL,
	[UPDATEDTIME] [datetime] NULL,
	[CREATETYPE] [int] NOT NULL,
	[SCRIPTCODE] [nvarchar](max) NULL,
	[TENANTID] [nvarchar](50) NULL,
 CONSTRAINT [PK_JOBDETAILS_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBTRIGGERS]    Script Date: 2026/5/22 9:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBTRIGGERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRIGGERID] [nvarchar](64) NOT NULL,
	[JOBID] [nvarchar](64) NOT NULL,
	[TRIGGERTYPE] [nvarchar](128) NULL,
	[ASSEMBLYNAME] [nvarchar](128) NULL,
	[ARGS] [nvarchar](128) NULL,
	[DESCRIPTION] [nvarchar](128) NULL,
	[STATUS] [bit] NOT NULL,
	[STARTTIME] [datetime] NULL,
	[ENDTIME] [datetime] NULL,
	[LASTRUNTIME] [datetime] NULL,
	[NEXTRUNTIME] [datetime] NULL,
	[NUMBEROFRUNS] [int] NOT NULL,
	[MAXNUMBEROFRUNS] [int] NOT NULL,
	[NUMBEROFERRORS] [int] NOT NULL,
	[MAXNUMBEROFERRORS] [int] NOT NULL,
	[NUMRETRIES] [int] NOT NULL,
	[RETRYTIMEOUT] [int] NOT NULL,
	[STARTNOW] [bit] NOT NULL,
	[RUNONSTART] [bit] NOT NULL,
	[RESETONLYONCE] [bit] NOT NULL,
	[UPDATEDTIME] [datetime] NULL,
 CONSTRAINT [PK_JOBTRIGGERS_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
